.back{

    size: 20px;
    align-items: flex-end;
    align-self: flex-end;
    align-content: flex-end;
    text-align: right;
    padding: 2px;
}

.atras{
    font-size: 30px;
}

ion-content{
    align-items: center;
    text-align: center;
}

ion-card{
    margin-top: 10%;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

ion-card-subtitle{
    text-align: left;
}

ion-card-content{
    text-align: left;
}

.frame{
    height: 400px;
    width: 600px;
    margin-bottom: 40px;
}