<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/entrenamiento']" ></ion-back-button>
    </ion-buttons>
    <ion-title>Realizar @ejercicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nombre rutina</ion-card-subtitle>
      <ion-card-title>Nombre ejercicio</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Descripcion ejercicio
    </ion-card-content>
      <iframe class="frame">
    
      </iframe>
      <ion-button expand="full">Siguiente</ion-button>
      <ion-button expand="full">Anterior</ion-button>
  </ion-card>

</ion-content>
