<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/perfil']" ></ion-back-button>
    </ion-buttons>
    <ion-title>Mi entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Estado control</th>
            <th scope="col">Fecha subida</th>
            <th scope="col">Fecha proximo control</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody *ngFor = "let control of controles">
          <tr>
            <td>Control</td>
            <td>{{control.createdAt}}</td>
            <td>{{control.next_control}}</td>
            <td><ion-buttons  color="success" (click)="verControl(control.id)"><ion-icon size="large" name="eye-outline"></ion-icon></ion-buttons ></td>
          </tr>
        </tbody>
      </table>
    </ion-row>
  </ion-grid>
</ion-content>
