.activity{
    color: black;
    background-color:rgb(165, 159, 159);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    border-radius: 10px;
    padding: 20px;
}

.containers{
    margin-top:30%;
    padding-right: 10px;
    padding-left: 10px; 
}

.datos{
    margin-top: 50px;
    padding: 10px;
    border-color: beige;
    border-width: 10px;
    color: black;
    border-style:inset;
    font-size:larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(184, 184, 184, 0.589);
}

