<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Bienvenido @user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="containers">

    <div class="row">
      <div class="col">
        <canvas baseChart
          [data]="data"
          [labels]="labels"
          [type]="'line'">
        </canvas>
      </div>
    </div>

    <div class="datos">

      <div class="row">
        <div class="col">
          Nombre: {{name}}  {{lastname}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          RUT: {{rut}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Correo: {{email}}
        </div>
      </div>
    </div>
    <br/>
      <div class="d-grid gap-2" >
        <button type="button" class="btn btn-light" color="secondary" (click)="goEntrenamiento()"> <img  src="https://img.icons8.com/ios/50/000000/track-and-field.png"/> Ver controles</button>
        <button type="button" class="btn btn-light" color="secondary" (click)="goArchivos()"><img  src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/50/000000/external-file-interface-kiranshastry-lineal-kiranshastry.png"/>  Ver Archivos</button>
        <button type="button" class="btn btn-light" color="secondary" (click)="salir()"><img src="https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/50/000000/external-log-out-user-interface-kmg-design-detailed-outline-kmg-design.png"/> Salir</button>
      </div>
  </div>
</ion-content>
