<ion-header>
  <ion-toolbar  color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/ver-control']"></ion-back-button>
    </ion-buttons>
    <ion-title>Encuesta de entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenedor">
  <ion-text>
    <h2 class="title">Encuesta de satisfacción de rutina deportiva</h2>
  </ion-text>
  <ion-text>
    <h5 class="pregunta">¿Fue difícil terminar la rutina?</h5>
  </ion-text>
  <ion-list>
    <ion-radio-group value="biff">
      <ion-item>
        <ion-label>Sí</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-text>
    <h5 class="pregunta">¿Cómo te sentiste realizando la rutina?</h5>
  </ion-text>
  <ion-content class="ion-padding" style="height: 20%;">
    <ion-range [min]="0" [max]="10" [value]="5" [pin]="true" [ticks]="true" [snaps]="true"></ion-range>
  </ion-content>
  <ion-text>
    <h5 class="pregunta">¿Qué cantidad de agua consumiste?</h5>
  </ion-text>
  <ion-content class="ion-padding" style="height: 20%;">
    <ion-range [min]="0" [max]="10" [value]="5" [pin]="true" [ticks]="true" [snaps]="true"></ion-range>
  </ion-content>
  <ion-text>
    <h5 class="pregunta">¿Cuál fue el ejercicio más difícil?</h5>
  </ion-text>
  <ion-content class="ion-padding" style="height: 20%;">
    <ion-list>
      <ion-item>
        <ion-select interface="action-sheet" placeholder="Selecciona un día">
          <ion-select-option value="{{ejercicio.name}}">{{ejercicio.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-text>
    <h5 class="pregunta">¿Cuál fue el ejercicio más fácil?</h5>
  </ion-text>
  <ion-content class="ion-padding" style="height: 20%;">
    <ion-list>
      <ion-item>
        <ion-select interface="action-sheet" placeholder="Selecciona un día">
          <ion-select-option value="{{ejercicio.name}}">{{ejercicio.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-text>
    <h5 class="pregunta">Por favor, responde en el recuadro si incorporarás algún nuevo elemento a tu rutina o te interesa cambiar de ejercicios</h5>
  </ion-text>
  <ion-content class="ion-padding" style="height: 20%;">
    <ion-textarea style="border-color: black;" placeholder="Ingresa los cambios aquí"></ion-textarea>
  </ion-content>

</ion-content>
