<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']" ></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="containerInicio">
    <form [formGroup]="ionicForm" (ngSubmit)="submitEmail(form)" novalidate #form="ngForm">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <h2>Te enviaremos una contraseña temporal a tu correo electrónico</h2>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-item>
              <ion-item>
                <ion-label position="floating">Ingrese usuario</ion-label>
                <ion-input formControlName="email" placeholder="Correo de usuario" type="email"></ion-input>
              </ion-item>
              <span color="warning" class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
                Por favor, ingrese su correo.
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
              <ion-button expand="block" color="secondary" type="submit">Recuperar contraseña</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-grid>
</ion-content>
