<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" >
      <ion-back-button [routerLink]="['/entrenamiento']" ></ion-back-button>
    </ion-buttons>
    <ion-title>Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-grid >
      <h1 style="text-align: center;">Ver Control</h1>
    </ion-grid>
    <ion-grid size="4">
      <h5>Altura:</h5>
      <h6>{{height}}</h6>
    </ion-grid>
    <ion-grid size="4">
      <h5>Peso:</h5>
      <h6>{{weight}}</h6>
    </ion-grid>
    <ion-grid size="4">
      <h5>Circunferencia de cintura:</h5>
      <h6>{{waist}}</h6>
    </ion-grid>
    <ion-grid size="4" style="text-align: center;">
      <h4>Video informativo</h4>
      <h6></h6>
    </ion-grid>
    <ion-grid size="12">
      <iframe width="100%" height="500px"  [src]="media_url | safe"  frameborder="0"  allowfullscreen></iframe>
    </ion-grid>
    <ion-row>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo de Adjunto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody *ngFor = "let controlAttachment of controlAttachments">
          <tr>
            <td>{{controlAttachment.id}}</td>
            <td>{{controlAttachment.type}}</td>
            <td>{{controlAttachment.name}}</td>
            <td><ion-buttons  *ngIf="controlAttachment.type == 'Rutina'" color="secondary" (click)="verRutina(controlAttachment.routine.id)"><ion-icon size="large" name="eye-outline"></ion-icon></ion-buttons >
              <ion-buttons *ngIf="controlAttachment.type == 'Archivo'" color="secondary" (click)="descargarArchivo(controlAttachment.file.id,controlAttachment.file.name)"><ion-icon  size="large" name="download-outline"></ion-icon></ion-buttons></td>
            
              
          </tr>
        </tbody>
      </table>
    </ion-row>
  </ion-grid>
</ion-content>
