<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/ver-control']" ></ion-back-button>
    </ion-buttons>
    <ion-title>Realizar Rutina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-slides #slider (ionSlideNextEnd)="loadNext()" (ionSlidePrevEnd)="loadPrev()" [initialSlide]="1">
    <ion-slide *ngFor = "let ejercicio of ejercicios">
      <ion-grid >
        <ion-grid size="12">
          <h2 style="text-align: left; color: rgba(240, 248, 255, 0.37);">{{rutinaNombre}}</h2>
          </ion-grid>
          <ion-grid size="12">
            <h3>Nombre del ejercicio: </h3>
            <h4> {{ejercicio.name}}</h4>
          </ion-grid>
          <ion-grid size="12" style="background-color: rgba(68, 68, 68, 0.479); border-radius: 2px;margin: 10px; margin-left: 30px; margin-right: 30px; margin-bottom: 30px; padding-top: 15px;">
            <h5>Descripcion:</h5>
            <hr>
            <h6 style="text-align: left; padding-left: 20px;">{{ejercicio.description}}</h6>
          </ion-grid>
          <ion-grid size="12" style="background-color: rgba(68, 68, 68, 0.479); border-radius: 2px; margin: 10px; margin-left: 30px; margin-right: 30px; margin-bottom: 30px; padding-top: 15px;">
            <h5>Requerimientos:</h5>
            <hr>
            <h6 style="text-align: left; padding-left: 20px;">{{ejercicio.requirements}}</h6>
          </ion-grid>
          <ion-grid size="12">
            <iframe width="100%" height="500px" src="https://www.youtube.com/embed/FSTRIV0mvX0"  frameborder="0"  allowfullscreen></iframe>
          </ion-grid>
        </ion-grid>
    </ion-slide>
</ion-slides>
  

</ion-content>