<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/ver-control']"></ion-back-button>
    </ion-buttons>
    <ion-title>Encuesta alimenticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenedor">
  <ion-text>
    <h2 class="title">Encuesta de satisfacción de minuta alimentaria</h2>
  </ion-text>
  <ion-text>
    <h5 class="pregunta">¿Seguiste la minuta?</h5>
  </ion-text>
  <ion-list>
    <ion-radio-group value="biff">
      <ion-item>
        <ion-label>Sí</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-text>
    <h5 class="pregunta">¿Qué tan dificil fue seguir la minuta?</h5>
  </ion-text>
  <ion-content class="ion-padding" style="height: 20%;">
    <ion-range [min]="0" [max]="10" [value]="5" [pin]="true" [ticks]="true" [snaps]="true"></ion-range>
  </ion-content>
  <ion-text>
    <h5 class="pregunta">¿Qué tan agusto te sentiste con la minuta?</h5>
  </ion-text>
  <ion-content class="ion-padding" style="height: 20%;">
    <ion-range [min]="0" [max]="10" [value]="5" [pin]="true" [ticks]="true" [snaps]="true"></ion-range>
  </ion-content>
  <ion-text>
    <h5 class="pregunta">¿Cuál fue tu día de la semana favorito?</h5>
  </ion-text>
  <ion-content class="ion-padding" style="height: 20%;">
    <ion-list>
      <ion-item>
        <ion-select interface="action-sheet" placeholder="Selecciona un día">
          <ion-select-option value="apples">Lunes</ion-select-option>
          <ion-select-option value="oranges">Martes</ion-select-option>
          <ion-select-option value="bananas">Miércoles</ion-select-option>
          <ion-select-option value="bananas">Jueves</ion-select-option>
          <ion-select-option value="bananas">Viernes</ion-select-option>
          <ion-select-option value="bananas">Sábado</ion-select-option>
          <ion-select-option value="bananas">Domingo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-text>
    <h5 class="pregunta">¿Cuál fue tu día de la semana que menos te gustó?</h5>
  </ion-text>
  <ion-content class="ion-padding" style="height: 20%;">
    <ion-list>
      <ion-item>
        <ion-select interface="action-sheet" placeholder="Selecciona un día">
          <ion-select-option value="apples">Lunes</ion-select-option>
          <ion-select-option value="oranges">Martes</ion-select-option>
          <ion-select-option value="bananas">Miércoles</ion-select-option>
          <ion-select-option value="bananas">Jueves</ion-select-option>
          <ion-select-option value="bananas">Viernes</ion-select-option>
          <ion-select-option value="bananas">Sábado</ion-select-option>
          <ion-select-option value="bananas">Domingo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-text>
    <h5 class="pregunta">¿Hay algun cambio en tu alimentación para el próximo control?</h5>
  </ion-text>
  <ion-content class="ion-padding" style="height: 20%;">
    <ion-textarea style="border-color: black;" placeholder="Ingresa los cambios aquí"></ion-textarea>
  </ion-content>

</ion-content>
