ion-range::part(tick) {
    background: #a2d2ff;
  }
  
  ion-range::part(tick-active) {
    background: #bde0fe;
  }
  
  ion-range::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    background: #ffafcc;
    color: #fff;
  
    border-radius: 50%;
    transform: scale(1.5);
  
    top: -20px;
  
    min-width: 28px;
    height: 28px;
    transition: transform 120ms ease, background 120ms ease;
  }
  
  ion-range::part(pin)::before {
    content: none;
  }
  
  ion-range::part(knob) {
    background: #ffc8dd;
  }
  
  ion-range::part(bar) {
    background: #a2d2ff;
  }
  
  ion-range::par(bar-active) {
    background: #bde0fe;
  }

  .title{
    padding-top: 24px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .contenedor{
    padding: 32px;
  }

  .pregunta{
    padding-top: 24px;
    padding-left: 32px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }