.containerInicio{
    text-align: center;
    margin-top: 60px;
    flex: content;
    background-color: rgba(240, 248, 255, 0.479);
}

.centro{
    text-align: center;
    align-content: center;
    align-items: center;
}

.containerContenido{
    padding-top: 40px;
}

.recordatorio{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.438);
}

ion-icon{
    font-size: 24px;
}
 ion-content{
     padding-top: 50px;
 }
