<ion-header >
  <ion-toolbar color="secondary">
    <ion-title>Bienvenid@ a Training Nutrition</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="containerInicio">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm(form)" novalidate #form="ngForm">
    <img src="../assets/img/logo2.svg" height="200" width="400" >
      <ion-grid>
        <ion-row><ion-col class="ion-align-self-center">
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-item>
                <ion-label position="floating">Ingrese usuario</ion-label>
                <ion-input formControlName="email" placeholder="Correo de usuario" type="email"></ion-input>
              </ion-item>
              <span color="warning" class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
                Por favor, ingrese su correo. 
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-item>
                <ion-label position="floating">Ingrese contraseña</ion-label>
                <ion-input formControlName="password"  placeholder="Contraseña" type="password" ></ion-input>
              </ion-item>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
                Por favor, ingrese su contraseña.
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-button expand="block" color="tertiary" type="submit" >Ingresar</ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="block" color="tertiary" (click)="goToPR()">¿Olvidó su contraseña?</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <label class="recordatorio"><ion-icon name="information-circle"></ion-icon> Training Nutrition trabaja con cupos limitados. Si deseas ingresar haz <a>click aquí</a>.</label>
            </ion-col>
          </ion-row>
        </ion-col></ion-row>
      </ion-grid>
  </form>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button><ion-icon name="logo-instagram"></ion-icon></ion-button>
      <ion-button><ion-icon name="logo-facebook"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


