<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" >
      <ion-back-button [routerLink]="['/perfil']" ></ion-back-button>
    </ion-buttons>
    <ion-title>Mis archivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Archivo</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody *ngFor = "let file of files">
            <tr>
              <th scope="row">{{file.id}}</th>
              <td>{{file.name}}</td>
              <td><button color="secondary" (click)="descargarArchivo(file.id, file.filename)" >Descargar</button></td>
            </tr>
        </tbody>
      </table>
    </ion-row>
  </ion-grid>
</ion-content>
