.table {
    border-color: rgba(80, 80, 80, 0.322);
    border-right: 0.1px;
    border-style:ridge;
    background-color: rgba(80, 80, 80, 0.623);
    color: rgb(255, 255, 255);
    border-radius: 1px;
    flex: content;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    
}
.back{

    size: 20px;
    align-items: flex-end;
    align-self: flex-end;
    align-content: flex-end;
    text-align: right;
    padding: 2px;
}

.atras{
    font-size: 30px;
}